<h2 mat-dialog-title>{{data.action === masterDataFormType.ADD ? 'Add' : 'Update'}} {{data.type}}</h2>
<form [formGroup]="masterForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="masterForm.get('name')?.invalid && masterForm.get('name')?.touched">
                    Name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="data.masterType === masterDataType.QUESTION">
            <mat-form-field>
                <mat-label>Section</mat-label>
                <mat-select formControlName="sectionId">
                    @for (section of sections; track section) {
                    <mat-option [value]="section._id">{{section.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field *ngIf="data.masterType != masterDataType.CANDIDATES">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div *ngIf="data.masterType === masterDataType.CANDIDATES">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="masterForm.get('email')?.invalid && masterForm.get('email')?.touched">
                    Email is required
                </mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</form>