.example-spacer {
    flex: 1 1 auto;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 220px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

/* .mat-toolbar.mat-primary {
    background-color: rgb(243 243 246);
} */

.mat-toolbar.mat-primary {
    background-color: #d2e4f2;

}

.grid-container {
    background: #f8f8f8;
}

.hamburger {
    color: #070845
}

::ng-deep .mat-drawer-inner-container {
    background-color: #e9ecf2
}

::ng-deep .mat-mdc-list-item-unscoped-content {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #070845 !important;

    display: flex;
    align-items: center;
    gap: 10px;

    .mat-icon {
        height: 26px;
    }
}

.mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.mat-toolbar.mat-primary {
    /* background-color: #3c8dbc; */
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.toolbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-box .user-img {
    position: relative;
    height: 36px;
    width: 36px;
    margin: 0 auto;
}

.profile-icon {
    cursor: pointer;
}

.img-circle {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: center;
    display: flex;
}


.profile-text {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #f3f3f3;

}

.active {
    /* background: #d8e6e6; */
    background-color: #e0e0e5;
    border-left: 4px solid #5d94db;
}

.inactive {
    padding-left: 20px;
}

.mat-mdc-progress-spinner {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 999;
    width: 50px !important;
    /* background-color: #00000080;
    pointer-events: auto; */
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #d7d7d7 !important;
}