<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar color="primary">
             <img src="../assets/images/pace.jpg" alt="‘PACE-THE FUTURE OF PERSONAL DEVELOPMENT" style="height: 40px; margin-right: 10px;">
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let item of navItems; let i= index;" [ngClass]="{'active': i === 0}"
                [href]="item.url">
                <mat-icon>{{item.icon}}</mat-icon>
                <span>
                    {{item.label}}
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon class="hamburger" aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

        </mat-toolbar>
        <!-- <pace-hr1-uk-frontend-home></pace-hr1-uk-frontend-home> -->
        <router-outlet></router-outlet>
        <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- <pace-hr1-uk-frontend-layout>
    
</pace-hr1-uk-frontend-layout>
<router-outlet></router-outlet> -->