.custom-table {
  border-collapse: separate;
  border-spacing: 3px; /* Adjust spacing between columns */
  background: #e9ecf252;
}

.custom-table td {
  padding: 3px; /* Adjust cell padding */
  border: 2px solid transparent; /* Invisible border */
  border-radius: 10px; /* Rounded corners */ 
}

/* Center the content of the middle column */
.mat-column-middle {
  text-align: center;
}

/* Align the content of the first and last columns to start from the left */
.mat-column-first, .mat-column-last {
  text-align: left;
}

.mat-column-last {
  width: 50%; /* Set each column to occupy one-third of the table width */
}

.example-container mat-form-field + mat-form-field {
  margin-left: 10px;
}

.example-button-row button,
.example-button-row a {
  margin:10px;
}

.example-disabled {
  display: inline-block;
}

.mat-table {
  width: 100%;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; /* Adjust as needed */
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40%; /* A60%djust the width of the card */
}






