<main>
    <mat-card>
        <mat-card-header class="header">
            <h3 >
                {{questionsSet[currentSetIndex]?.domain}}
            </h3>
        </mat-card-header>
      
        <mat-card-content class="content">
            <mat-list #questions>
                @for (questions of questionsSet[currentSetIndex]?.questions; track questions) {
                    <mat-list-item >
                         <div class="flex-container highlight-on-hover center-content">
                            <div class="left-content">{{questions.question}}</div>
                            <div class="right-content" (mouseleave)="resetStars(questions)">
                                <a href="#" *ngFor="let i of [1,2,3,4,5]" (mouseenter)="fillStars(questions,i)"
                                    (click)="handleStars($event, i, questions)">
                                    <mat-icon class="star-icon"
                                        [ngClass]="{'star-marked': i <= questions.filledStars || i === questions.ratings}">
                                        {{ i <= questions.filledStars || i===questions.ratings ? 'star' : 'star_border' }} 
                                    </mat-icon>
                                </a>
                            </div>
                        </div>
                    </mat-list-item>
                }
            </mat-list>

            <div class="action center g-15">
                <button mat-stroked-button color="primary" [disabled]="currentSetIndex === 0"  (click)="handlePrevious()">Previous</button>

                <button mat-raised-button color="primary" [disabled]="currentSetIndex === questionsSet.length -1" (click)="handleNext()">Next</button>
            </div>

        </mat-card-content>
    </mat-card>
</main>