main {

    .question-container {
        padding: 24px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        .question {
            margin-top: 8px;
            flex-grow: 2;
            width: 60%;
        }

        @media screen and (max-width: 1074px) {
            .question {
                width: 50%;
            }
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
        }
    }

    @media screen and (max-width: 400px) {
        .question-container {
            padding: 24px 6px;
        }
    }

    @media (max-width: 768px) {
        .question-container {
            flex-direction: column;
        }

        .question,
        .stars {
            width: 100% !important;
            /* Each item takes up full width */
        }
    }

    .star-icon {
        color: #ffd740;
        height: 30px;
        width: 30px;
        font-size: 30px;
        margin: 3px;
    }

    .star-marked {
        color: #ffd740;
    }

    .action {
        button {
            width: 100px;
        }
    }  
}
.highlight-on-hover:hover {
    background-color: #efefef; /* Change to desired highlight color */
}

.header {
  background-color: #d5e2f247; /* Light background color for header */
  display: flex;
  justify-content: flex-start;
}

.content {
  background-color: #f3f3f6; /* Light background color for content */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-radius: 5px;
}

.left-content{
   width: 68%; /* Adjust as needed */
  padding: 10px;  
  white-space: break-spaces;
}
.right-content {
  width: 28%; /* Adjust as needed */
  padding: 10px; /* Optional: Add padding for better spacing */
  white-space: break-spaces;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .left-content,
  .right-content {
    width: 100%;
  }
}

::ng-deep .mat-mdc-list-item:not(.mat-mdc-list-item-interactive), .mat-mdc-list-option:not(.mat-mdc-list-item-interactive) {
    height: 100%;
}
