<main style="padding-top: 5px">
  <h1 class="mat-h1">User Interview Template</h1>
  <mat-divider></mat-divider>
  <mat-stepper
    [orientation]="smallScreen ? 'vertical' : 'horizontal'"
    [linear]="false"
    #stepper
  >
    <mat-step [stepControl]="configFormGroup">
      <div class="template-container">
        <form [formGroup]="configFormGroup">
          <ng-template matStepLabel>Configure Template</ng-template>
          <mat-form-field>
            <mat-label>Template Name</mat-label>
            <input matInput formControlName="templateName" />
            <mat-error
              *ngIf="
                configFormGroup.get('templateName')?.invalid &&
                configFormGroup.get('name')?.touched
              "
            >
              Name is required
            </mat-error>
          </mat-form-field>
          <div class="mat-form-field-row">
            <div class="mat-form-field-col">
              <mat-form-field>
                <mat-label>Domain</mat-label>
                <mat-select formControlName="domainId">
                  <mat-option
                    *ngFor="let domain of domains"
                    [value]="domain._id"
                    >{{ domain.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="mat-form-field-col">
              <mat-form-field>
                <mat-label>Assessment Type</mat-label>
                <mat-select formControlName="assessmentId">
                  <mat-option
                    *ngFor="let assessmentType of assessmentTypes"
                    [value]="assessmentType._id"
                    >{{ assessmentType.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="align-end example-button-row">
        <button mat-raised-button color="primary" type="button" matStepperNext>
          Next
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Add Questions">
      <div class="template-container">
        <div *ngIf="accordionItems.length > 0">
          <div class="accordion-container" *ngFor="let item of accordionItems">
            <mat-accordion class="accordion">
              <mat-expansion-panel class="accordion-panel">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ item.sectionName }} ({{ item.questionsArray.length }})
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list
                  *ngFor="let question of item.questionsArray; let i = index"
                >
                  <div
                    [ngClass]="i % 2 === 0 ? 'even' : 'even'"
                    class="flex-container highlight-on-hover center-content"
                  >
                    <div class="left-content">
                      {{ i + 1 }}. {{ question.name }}
                    </div>
                  </div>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <form [formGroup]="secondFormGroup" class="questions-table">
          <table mat-table [dataSource]="questions">
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="section">
              <th mat-header-cell *matHeaderCellDef>Section</th>
              <td mat-cell *matCellDef="let element">
                {{ element.sectionId.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Question</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="padding-left: 30px">
                Action
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="icon-container">
                  <mat-checkbox
                    color="primary"
                    [checked]="element.isSelected"
                    (change)="selectQuestion($event, element)"
                  >
                  </mat-checkbox>
                </div>
              </td>
            </ng-container>

            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Use the visible property to conditionally render rows -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
            (page)="onPageChange($event)"
          >
          </mat-paginator>
        </form>
      </div>
      <div class="align-end example-button-row">
        <button
          mat-stroked-button
          matStepperPrevious
          color="accent"
          type="button"
        >
          Back
        </button>
        <button mat-raised-button matStepperNext color="primary" type="button">
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Final Submission">
      <div>
        <h1>Verify details</h1>
      </div>
      <div>
        <p>Template Name : {{ configFormGroup.controls.templateName.value }}</p>
        <p>Domain : {{ configFormGroup.controls.domainId.value }}</p>
        <p>
          assessment Type: {{ configFormGroup.controls.assessmentId.value }}
        </p>
      </div>
        <div *ngIf="accordionItems.length > 0">
          <div class="accordion-container" *ngFor="let item of accordionItems">
            <mat-accordion class="accordion">
              <mat-expansion-panel class="accordion-panel" [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ item.sectionName }} ({{ item.questionsArray.length }})
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list
                  *ngFor="let question of item.questionsArray; let i = index"
                >
                  <div
                    [ngClass]="i % 2 === 0 ? 'even' : 'even'"
                    class="flex-container highlight-on-hover center-content"
                  >
                    <div class="left-content">
                      {{ i + 1 }}. {{ question.name }}
                    </div>
                  </div>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="align-end example-button-row">
         <button mat-button color="accent" (click)="stepper.reset()">
            Reset
          </button>
            <button mat-stroked-button matStepperPrevious color="accent">
            Back
          </button>
          <button mat-raised-button color="primary" (click)="submit()">
            Submit
          </button>
        </div>
    </mat-step>
  </mat-stepper>
</main>
