/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;

}

.a-center {
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.g-15 {
    gap: 15px;
}

.action {
    padding-top: 8px;
}

.divider-container {
    padding: 0 40px;
}

@media screen and (max-width: 400px) {
    .divider-container {
        padding: 0 20px;
    }
}

button {
    text-transform: capitalize;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: #5265d1 !important;
    border: 1px solid #5265d1;
    text-transform: capitalize;
}

main {
    margin: 10px;
    /* height: 100%; */
    display: grid;

    .mat-mdc-card {
        top: 15%;
        border-top: 4px solid #5265d1;
        background-color: rgb(246 246 248);

        mat-card-header {
            display: flex;
            justify-content: center;

            h3 {
                font-size: 24px;
            }
        }
    }

    .mat-h1 {
        text-transform: capitalize;
        margin: 0 0 5px !important;
        padding-left: 16px;
        font: 500 27px/32px Roboto, sans-serif !important;
    }
}

.mat-mdc-dialog-title {
    text-transform: capitalize;
}

.mat-mdc-form-field {
    width: 100%;
}

.mdc-dialog__actions {
    display: flex;
    justify-content: end !important;
    padding-right: 24px !important;
    padding-bottom: 20px !important;
    padding-top: 0 !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content {
    padding-bottom: 4px;
}


