/* You can add global styles to this file, and also import other style files */

html,

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;

}

.a-center {
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

.align-end {
    display: flex;
    justify-content: end;
}

.flex-row {
    flex-direction: row;
}

.g-15 {
    gap: 15px;
}

.action {
    padding-top: 8px;
}

.divider-container {
    padding: 0 40px;
}

@media screen and (max-width: 400px) {
    .divider-container {
        padding: 0 20px;
    }
}

button {
    text-transform: capitalize;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: #3662a0 !important;
    border: 1px solid #3662a0;
    text-transform: capitalize;
}

main {
    margin: 10px;
    /* height: 100%; */
    display: grid;

    .mat-mdc-card {
        margin-top: 25px;
        border-top: 4px solid #5265d1;
        background-color: rgb(246 246 248);

        mat-card-header {
            display: flex;
            justify-content: center;

            h3 {
                font-size: 24px;
            }
        }
    }

    .mat-h1 {
        text-transform: capitalize;
        margin: 0 0 5px !important;
        padding-left: 16px;
        font: 500 27px/32px Roboto, sans-serif !important;
    }
}

.mat-mdc-dialog-title {
    text-transform: capitalize;
}

.mat-mdc-form-field {
    width: 100%;
}

.mdc-dialog__actions {
    display: flex;
    justify-content: end !important;
    padding-right: 24px !important;
    padding-bottom: 20px !important;
    padding-top: 0 !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content {
    padding-bottom: 4px;
}

/* Scrollbar css */
/* Define scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* color of the scrollbar handle */
    border-radius: 6px;
    /* roundness of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the scrollbar handle on hover */
}

.table-container {
    padding: 16px;
    height: 70vh;
    /* 70% of the viewport height */
    overflow: auto;
}

.interview-table-container {
    padding: 14px;
    height: 65vh;
    overflow: auto;
}

.template-container {
    padding: 12px;
    height: 58vh;
    overflow: auto;
}


table {

    .mat-mdc-header-cell {
        background-color: #3662a0 !important;
    }

    .mdc-data-table__header-cell {
        color: #fff;
    }

    tr {
        font-size: 15px !important;
        font-weight: 500 !important;
    }

    tr:nth-child(even) {
        background-color: #e9ecf2;
        /* Set your desired color for even cells */
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
        /* Set your desired color for odd rows */
    }

    .mat-mdc-paginator-container {
        background: #efefef !important;
        font-size: 13px !important;
        font-weight: 500 !important;
    }
}

.mat-expansion-panel-body {
    background: #f9f9f9;
}

.icon-container {
    display: flex;
    gap: 4px;

    button {
        border: none;
        background: none;
        cursor: pointer;
    }

    .edit {
        color: #2b5186;
    }

    .delete {
        color: #ee1f10;
    }
}